/node_modules/

npm-debug.log
yarn-error.log

/dist/
/build/

/.idea/
/.vscode/

.DS_Store
Thumbs.db

*.sublime-workspace
*.sublime-project

.env
.env.local
.env.development
.env.production

.cache/

*.log

/tmp/
/temp/

/coverage/

*.swp
*.swo
*.bak
*.orig

*.psd
*.ai

/Back-end/
/service-worker.js
/manifest.json
